@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  color: #131313;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1400px;
  width: 100%;
}

.container-small {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1160px;
  width: 100%;
}

.gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
