@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://use.typekit.net/fjb7ywr.css");

* {
  scroll-behavior: smooth !important;
  color: #131313;
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  letter-spacing: -1px;
}

body {
  overflow-x: hidden;
}

strong {
  font-size: unset !important;
}

.lh {
  line-height: 36px;
}

.container {
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1400px;
  width: 100%;
}

.container-small {
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1160px;
  width: 100%;
}

.container-supersmall {
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1000px;
  width: 100%;
}

.gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-bg {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #febf33 0%, #ffe8c6 30%);
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .container,
  .container-small,
  .container-supersmall {
    padding: 0 15px;
  }
}
